* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.containerApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    min-width: 500px;
    min-height: 320px;
}

.inputFraseCSS, .btnInvioCSS, .btnDecodificaCSS {
    padding: 7px 10px;
    width: 250px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}

.testi {
    margin-left: 125px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* cambia l'align-items impostato nel containerApp solo su questo elemento*/
}

h3 {
    display: inline-block;
    font-weight: normal;
}